<div class="col-sm-3 col-md-2 hidden-xs sidebar" id="main-sidebar">
  <ul class="nav nav-sidebar <%= "#{active_class('buttons_iconography')}" %>">
    <li class="sidebar-menu-item">
      <a class="icon-link with-tip action-shopping-cart" href="/style_guide/buttons_iconography" data-original-title="Buttons and Iconography" title="Buttons and Iconography"><span class="text">Buttons & Iconography</span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-sidebar <%= "#{active_class('colors')}" %>">
    <li class="sidebar-menu-item selected">
      <a class="icon-link with-tip action-shopping-cart" href="/style_guide/colors" data-original-title="Colors" title="Colors"><span class="text">Colors</span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-sidebar <%= "#{active_class('forms')}" %>">
    <li class="sidebar-menu-item">
      <a class="icon-link with-tip action-shopping-cart" href="/style_guide/forms" data-original-title="Forms" title="Forms"><span class="text">Forms</span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-sidebar <%= "#{active_class('typography')}" %>">
    <li class="sidebar-menu-item">
      <a class="icon-link with-tip action-shopping-cart" href="/style_guide/typography" data-original-title="Typography" title="Typography"><span class="text">Typography</span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-sidebar <%= "#{active_class('tables')}" %>">
    <li class="sidebar-menu-item">
      <a class="icon-link with-tip action-shopping-cart" href="/style_guide/tables" data-original-title="Tables" title="Tables"><span class="text">Tables</span>
      </a>
    </li>
  </ul>
</div>
